* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------Variables----------------------*/

:root {
    --HeaderBrown: #242320;
    --TextBlack: #1B1212;
    --TextWhite: #F8F8FF;
    --LightBrown: hsla(28, 30%, 35%);
    --BlackishBrown: rgba(36, 35, 32, 0.860);
}

/*----------------------------------------------------*/

/*------------------------HOVER/FOCUS-----------------------*/

a:hover {
    cursor: pointer;
}

/*----------------------------------------------------------*/

/*------------------GENERAL CSS---------------------*/

body {
    background-color: #edeced;
    font-family: 'Open Sans', sans-serif;
    color: var(--TextBlack);
    font-size: 0.9em;
}

ul {
    list-style: none;
    color: var(--TextWhite);
}

a {
    text-decoration: none;
    color: var(--TextWhite);
}

/*--------------------------------------------------*/

/*----------------------320px-----------------------*/

@media all and (min-width: 320px) {

    h1, h2, h3 {
        font-family: 'Roboto Slab', serif;
    }

    #Index-Principal {
        display: flex; flex-direction: column; justify-content: center; align-items: center;
    }

    /*------HEADER------*/

    #Header {
        width: 100%;
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        background-color: var(--HeaderBrown);
        margin-bottom: 1.5em;
        box-shadow: 0em 0.2em 0.1em;
    }

    .nav-accessibility, .nav-accessibility ul {
        width: 100%;
    }

    .nav-accessibility ul {
        display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;
    }

    .nav-accessibility ul li {
        padding: 1em;
    }

    .nav-bar {
        width: 100%;
    }

    .nav-bar ul {
        display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;
    }

    .nav-bar ul li {
        padding: 1em;
    }

    .logo-figure {
        width: 100%;
        display: flex; flex-direction: row; justify-content: center; align-items: center;
    }

    .logo-figure img {
        width: 50%;
    }

    /*------------------*/

    /*-----------INDEX <main>-----------*/

    /*---Intro Section---*/

    #Intro-Section {
        margin-bottom: 1.5em;
        display: flex; flex-direction: column; justify-content: center; align-items: center;
    }

    #Intro-Title {
        margin-bottom: 1em;
        width: 95%;
    }

    .intro-article {
        width: 100%;
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        
    }

    .intro-article-figure {
        width: 90%;
    }

    .intro-article-figure img {
        width: 100%;
        border-radius: 0.5em;
    }
    /*--------------------*/

    /*----Info Section----*/
    #Info-Section {
        width: 100%;
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        margin-bottom: 1.5em;
    }

    #Info-Section-Article {
        width: 95%;
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        margin-bottom: 0.5em;
    }

    #Info-Section-Figure {
        width: 90%;
    }

    #Info-Section-Figure img {
        width: 100%;
        border-radius: 0.5em;
    }
    /*--------------------*/

    /*--Featured Products Section--*/

    #Featured-Products-Section {
        width: 100%;
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        background-color: hsl(35, 80%, 81%);
        padding-top: 0.5em;
    }

    #Featured-Products-Section h2 {
        margin-bottom: 0.8em;
    }

    h3 {
        margin-bottom: 0.5em;
        font-size: 1.1em;
    }

    h4 {
        margin-bottom: 0.5em;
        font-size: 1.5em;
    }

    #Featured-Grains {
        width: 95%;
        display: flex; flex-direction: column; justify-content: center; align-items: center;
    }

    .arabica-div, .liberica-div {
        width: 95%;
        display: flex; flex-direction: column; justify-content: center; align-items: center;
        margin-bottom: 1em;
        padding-bottom: 0.5em;
        background-color: lightgray;
        border-radius: 0.5em;
        overflow: hidden;
        box-shadow: 0em 0.15em 0.1em 0.05em;
    }

    .arabica-div p, .liberica-div p {
        width: 95%;
    }

    .arabica-div, .liberica-div {
        position: relative;
    }

    .arabica-div h4, .liberica-div h4 {
        position: absolute;
        color: var(--TextWhite);
        font-weight: 700;
        z-index: 100;
    }

    .arabica-div h4 {
        top: 20%;
        left: 5%;
    }

    .liberica-div h4 {
        top: 25%;
        right: 12%;
    }

    .arabica-fig, .liberica-fig {
        width: 100%;
    }

    .arabica-fig img, .liberica-fig img {
        width: 100%;
    }
    /*-----------------------------*/

    /*--------------FOOTER---------------*/

    .foot {
        width: 100%;
        background-color: var(--HeaderBrown);
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: center;
    }

    .foot p {
        color: white;
    }

}
/*-------------------END: 320px---------------------*/

/*----------------------480px-----------------------*/

@media all and (min-width: 480px) {

    .logo-figure img {
        width: 35%;
    }

    .arabica-div h4 {
        top: 30%;
        left: 5%;
    }

    .liberica-div h4 {
        top: 30%;
        right: 20%;
    }

}

/*-------------------END: 480px---------------------*/

/*----------------------576px-----------------------*/

@media all and (min-width: 576px) {

    .logo-figure img {
        width: 30%;
    }

    #Intro-Title, #Info-Section-Article, #Featured-Grains {
        width: 90%;
    }

    .arabica-div, .liberica-div {
        width: 75%;
        margin-bottom: 2em;
    }

    .arabica-div h4 {
        top: 32%;
        left: 7%;
    }

    .liberica-div h4 {
        top: 32%;
        right: 18%;
    }

}

/*-------------------END: 576px---------------------*/

/*----------------------768px-----------------------*/

@media all and (min-width: 768px) {

    .arabica-div, .liberica-div {
        width: 75%;
        overflow: inherit;
    }

    /* .arabica-div {
        left: 10%;
    }

    .liberica-div {
        right: 10%;
    } */

    .arabica-div h4 {
        top: 35%;
        left: 7%;
    }

    .liberica-div h4 {
        top: 35%;
        right: 18%;
    }

}

/*-------------------END: 768px---------------------*/

/*----------------------1024px----------------------*/

@media all and (min-width: 1024px) {

    .nav-accessibility ul {
        display: flex; flex-direction: row; justify-content: flex-start; align-items: center;
        padding-left: 1em;
    }

    .nav-bar ul {
        display: flex; flex-direction: row; justify-content: flex-end; align-items: center;
    }

    .nav-bar ul li {
        padding-right: 1.5em;
        padding-left: 1.5em;
    }

    .logo-figure img {
        width: 20%;
    }

    #Index-Principal {
        padding-top: 2em;
        padding-bottom: 2em;

    }
    /*----Intro Section----*/
    #Intro-Section {
        width: 90%;
        flex-direction: row; justify-content: space-between; align-items: center;
        background-color: var(--BlackishBrown);
        padding: 2em;
        color: var(--TextWhite);
    }

    .intro-article {
        width: 80%;
    }

    .intro-article-figure {
        width: 95%;
    }


    .h1-title {
        font-size: 3.7em;
        margin-bottom: 1.5em;
    }

    .slogan {
        text-align: right;
        margin-right: 1em;
        font-size: 1.5em !important;
    }

    #Intro-Title p {
        font-size: 1.2em;
    }

    .h2-subtitle {
        font-size: 2em;
    }

    .paragraph {
        font-size: 1.1em;
    }
    /*---------------------*/

    /*----Info Section----*/

    #Info-Section {
        width: 90%;
        flex-direction: row; justify-content: space-between; align-items: center;
        flex-flow: row-reverse;
        background-color: var(--BlackishBrown);
        padding: 2em;
        color: var(--TextWhite);
        text-align: justify;
    }

    #Info-Section-Article, #Info-Section-Figure {
        width: 49% !important;
    }

    /*--------------------*/

    #Featured-Products-Section {
        width: 90%;
        padding-bottom: 1.5em;
    }

    #Featured-Grains {
        background-color: var(--BlackishBrown);
        margin-bottom: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #Featured-Grains h3 {
        color: var(--TextWhite);
    }

    .arabica-div, .liberica-div {
        width: 90%;
        flex-direction: row; justify-content: space-between;
        padding: 1.5em;
        left: 0 !important;
        right: 0 !important;
    }

    .liberica-div {
        flex-flow: row-reverse;
    }

    .arabica-fig, .liberica-fig {
        width: 40%;
        min-width: 40%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }

    .arabica-fig img, .liberica-fig img {
        height: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        border-radius: 100%;
    }

    .arabica-div p, .liberica-div p {
        width: 55%;
        font-size: 1.3em;
        line-height: 1.5em;
        letter-spacing: 0.05em;
    }

    .arabica-div h4 {
        top: 45%;
        left: 7%;
    }

    .liberica-div h4 {
        top: 45%;
        right: 8%;
    }

}

@media all and (min-width: 1280px) {
    
    #Intro-Section, #Info-Section, #Featured-Products-Section {
        width: 85%;
    }

}